<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://andybrewer.github.io/mvp/mvp.css" rel="stylesheet"></link>
  <title>Job Search With Python</title>
</head>
<body>

  <br>
  <section>
    <form action="/report" method="get" style="text-align:center;">
    <header style="margin-top:5px;">

      <h2>
        "Better late than never."
      </h2>
        <i style="font-size: small;color: gray;">- Job Scrapper With Python </i>


    </header>
    <div style="text-align:center;">
      <input style="margin:0px auto; display:block;" type="text" id="word" required name="word" size="20" placeholder="Search a job">
    </div>
    <button type="submit">Search</button>
    </form>
  </section>
</body>
</html>