<!DOCTYPE html>
<html>
 <head>
   <title>Job Search</title>
   <style>
     section {
       display: grid;
       gap: 20px;
       grid-template-columns: repeat(4,1fr);;
     }
   </style>
 </head>
 <body>
  <h1>Search Results</h1>
  <h3>Found {{resultsNumber}} results for: {{searchingBy}}</h3>
  <a href="/export?word={{searchingBy}}">Export to CSV</a>
  <section>
    <h4>Title</h4>
    <h4>Company</h4>
    <h4>Location</h4>
    <h4>Link</h4>
    {% for job in jobs %}
      <span>{{job.Title}}</span>
      <span>{{job.Company}}</span>
      <span>{{job.Location}}</span>
      <a href="{{job.Apply_link}}" target="_blank">Apply</a>
    {% endfor %}

  </section>
 </body>
</html>