<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://andybrewer.github.io/mvp/mvp.css" rel="stylesheet"></link>
  <title>Job Search With Python</title>
</head>

 <body>

  <div style="text-align:center;">

      <h1>Search Results</h1>
      <h3>Found {{resultsNumber}} results for: {{searchingBy}}</h3>
      <a href="/export?word={{searchingBy}}">Export to CSV</a>

  </div>

    <section>
     <table style="width:70%">
       <thead>
         <th style="width:30%">Title</th>
         <th style="width:20%">Company</th>
         <th style="width:20%">Link</th>
       </thead>

       <tbody>
          {% for job in jobs %}
          <tr>
            <td>{{job.title}}</td>
            <td>{{job.company}}</td>
            <td><a href="{{job.link}}" target="_blank">Apply</a></td>
          </tr>
          {% endfor %}
       </tbody>

     </table>
    </section>


 </body>
</html>